.bcustom-button {
    border-radius: 50px;
    background-color: transparent !important;
    border-color: rgba(165, 103, 11, 1);
    transition: transform 0.5s;
}

.bcustom-button .bcustom-button-title {
    font-size: 20px !important;
    font-weight: lighter;
    color: rgba(165, 103, 11, 1);
    font-family: "Inknut Antiqua", serif !important;
    text-decoration: underline;
}


.bcustom-button:hover{
    transform: scale(1.1);
    border-color: rgba(165, 103, 11, 1);
}

.bcustom-button:focus{
    border: rgba(165, 103, 11, 1);
}