.bcustom-button {
    border-radius: 50px;
    background-color: transparent !important;
    border-color: rgba(165, 103, 11, 1);
    transition: transform 0.5s;
}

.bcustom-button .bcustom-button-title {
    font-size: 20px !important;
    font-weight: lighter;
    color: rgba(165, 103, 11, 1);
    font-family: "Inknut Antiqua", serif !important;
}


.bcustom-button:hover{
    border-color: rgba(165, 103, 11, 1);
    text-decoration: underline;
    color: rgba(165, 103, 11, 1);
}

.bcustom-button:focus{
    transform: scale(1.1);
    color: rgba(165, 103, 11, 1);
}



@media only screen and (max-width: 768px) {
    
    .bcustom-button .bcustom-button-title {
        font-size: 12px !important;
    }
    
}