.background-banner {
  width: 100%;
  height: auto;
  margin-top: 0;
  padding: 0;
  background-image: url('./BlueBBg.jpg');
  background-position: top center;
  background-repeat: repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
