.background-banner {
  width: 100%;
  height: auto;
  margin-top: 0;
  padding: 0;
  background-image: url('./69309ab082550bebe755a7094c28e507 2.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
