.clndr {
  background-color: rgba(220, 212, 201, 1);
  position: relative;
  text-align: center;
}

.clndr-container {
  padding: 10px 70px 30px 70px;
  /* Top Right Bottom Left */
}

.day-column {
  border: none;
  position: relative;
}

.day-column h5 {
  font-size: 40px;
  font-family: "Italianno", cursive;
  border-radius: 30px 30px 0 0;
  line-height: 1;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  color: rgba(165, 103, 11, 1);
  background-color: rgba(220, 212, 201, 1);
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.time-line {
  height: 480px; /* Adjust based on work hours */
  background-color: rgba(220, 212, 201, 1);
  border: 2px solid rgba(165, 103, 11, 1);
  position: relative;
  cursor: pointer;
  border-radius: 0 0 30px 30px;
}

.event-card {
  position: absolute;
  width: 100%;
  border-top: 2px solid rgba(165, 103, 11, 1);
  border-bottom: 2px solid rgba(165, 103, 11, 1);
  background-color: rgba(202, 181, 155, 1);
  color: rgba(63, 40, 7, 1);
  text-align: center;
  font-family: "Inknut Antiqua", serif;
  border-radius: 0px;
  box-sizing: border-box;
}

.clndr h1 {
  font-size: 60px !important;
  color: rgba(165, 103, 11, 1);
  font-family: "Italianno", cursive;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  margin-top: 10px;
}

/* Toast Container Styling */
.Toastify__toast {
  background-color: rgba(202, 181, 155, 1);
  color: rgba(63, 40, 7, 1);
  border-radius: 10px;
}

.Toastify__toast-body {
  font-family: "Inknut Antiqua", serif;
}

.custom-toast-container {
  z-index: 2000; 
  position: absolute; 
  top: 10px; 
  left: 50%;
  transform: translateX(-50%);
}

.clndr .form-control{
  color: rgba(63, 40, 7, 1);
  font-family: "Inknut Antiqua", serif;
  appearance: menulist;
  border-color: transparent; 
  border-bottom-color:rgba(63, 40, 7, 1);
  border-radius: 0px;
  background-color: transparent;   
}

.clndr .toast-content {
  padding: 0px 10px 10px 10px;
}

.clndr .form-label {
  margin: 10px 0 -10px 0;
}
