.tab-container {
    padding: 50px 0;
}

.custom-tabs {
    border: none;
}

.custom-tabs .nav-link {
    font-size: 60px;
    color: rgba(220, 212, 201, 1);
    background-color: rgba(185, 170, 147, 0.5);
    font-family: "Italianno", cursive;
    border-radius: 30px 30px 0 0;
    border: none;
    line-height: 1;
    border-color: rgba(165, 103, 11, 1);
    border-width: 2px;
    border-style: solid; 
}

.custom-tabs .nav-link:focus,
.custom-tabs .nav-link:hover,
.custom-tabs .nav-link.active {
    color: rgba(165, 103, 11, 1);
    background-color: rgba(220, 212, 201, 1);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    border-color:rgba(220, 212, 201, 1);
}

.tab-content {
    background-color: rgba(220, 212, 201, 1);
    border-radius: 0 30px 30px 30px;
    color: rgba(63, 40, 7, 1);
    font-family: "Inknut Antiqua", serif;   
}

.placeholder {
    color: rgba(165, 103, 11, 1);
    font-size: 60px;
    font-family: "Italianno", cursive;
    background-color: transparent;
}

.txt-container {
    padding: 20px;
}

.tab-container .txt{
    padding: 10px;
}

.tab-content h1 {
    font-size: 30px;
    position: relative;
    margin-bottom: 20px;
}

.tab-content h1::before {
    content: '';
    position: absolute;
    bottom: -5px;
    width: 80%;
    height: 2px;
    background-color: rgba(63, 40, 7, 1);
}

.tab-content p {
    font-size: 15px;
}

.events-card {
    background-color: rgba(202, 181, 155, 1);
    border-radius: 30px;
    padding: 30px;
    border-color: rgba(165, 103, 11, 1);
    border-width: 2px;
    border-style: solid; 
}

.accord-container {
    background-color: rgba(202, 181, 155, 1);
    border-color: rgba(165, 103, 11, 1);
}

.accord-container .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 15px;
}

.accord-container .accordion-header span{
    text-decoration: underline;
}

.accord-container .accordion-header span::after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 1px;
    background-color: rgba(63, 40, 7, 1) !important;
    margin: 10px;
    vertical-align: middle;
}

.accord-container .accordion-button:not(.collapsed) span::after{
    height: 2px;
}


.accord-container .accordion-button {
    background-color: rgba(202, 181, 155, 1);
    color: rgba(63, 40, 7, 1);
    height: auto;
    border-top: 0.5px solid rgba(63, 40, 7, 1);
    border-bottom: none;
    display: block;
}

.accord-container .accordion-button::after {
    display: none;
}

.accord-container .accordion-button::before {
    content: '';
    background-image: url('AvroArrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    transition: transform 0.3s ease-in-out;
}

.accord-container .accordion-button:not(.collapsed) {
    background-color: rgba(202, 181, 155, 1);
    font-weight: bold;
    border-bottom: none;
}

.accord-container .accordion-button:not(.collapsed)::before {
    transform: rotate(90deg);
}

.accord-container .accordion-button:not(.collapsed),
.accord-container .accordion-button.collapsed {
    box-shadow: none !important;
}

.accord-container .accordion-body {
    background-color: rgba(202, 181, 155, 1);
    color: rgba(63, 40, 7, 1);
    font-size: 15px;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: left;
    box-shadow: none;
}

.accord-container .accordion-item {
    border: none;
}

.accordion-flush>.accordion-item>.accordion-collapse {
    margin-top: -20px;
}

.accord-container .accord{
    padding: 10px;

}
