.footer {
    background-color: rgba(220, 212, 201, 1);
    width: 100%;
    overflow-x: hidden; /* Add this line to hide any overflow */
}

.footer-container {
    padding: 0;
    box-sizing: border-box; /* Add this line */
}

.footer-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 5px;
    box-sizing: border-box; /* Add this line */
}

.left-content {
    text-align: left;
    color: rgba(63, 40, 7, 1);
    font-family: "Inknut Antiqua", serif;
    font-size: 20px;
}

.logo {
    height: 100px;
    width: auto;
    padding: 0;
    margin: 0;
}

.right-content {
    display: flex;
    align-items: flex-end;
}

.social-icon {
    margin-left: 10px;
}

.social-icon img {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.social-icon:hover img {
    transform: scale(1.1);
}
