.footer {
    background-color: rgba(220, 212, 201, 1);
}

.footer-container {
    box-sizing: border-box; /* Add this line */
}

.footer-content {
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box; /* Add this line */
}

.left-content {
    text-align: left;
    color: rgba(63, 40, 7, 1);
    font-family: "Inknut Antiqua", serif;
    font-size: 20px;
}

.logo {
    height: 100px;
    width: auto;
}

.right-content {
    display: flex;
}


.social-icon img {
    width: 70px;
    height: 70px;
    margin: 20px;
    transition: transform 0.3s;
}

.social-icon:hover img {
    transform: scale(1.1);
}


@media only screen and (max-width: 768px) {
	.left-content {
        text-align: left;
        color: rgba(63, 40, 7, 1);
        font-family: "Inknut Antiqua", serif;
        font-size: 15px;
    }
}

@media only screen and (min-width: 1200px) {
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}

  #services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
}
