.gold-card {
    background-color: rgba(163, 20, 20, 1);
    color: white;
    padding: 20px;
    border-radius: 50px;
    height: 590px;
    width: 450px;
    font-family: 'Urbanist', sans-serif !important;
}

.gold-card__header {
    font-size: 30px !important;
    font-weight: bold;
    margin-bottom: 30px !important;
    margin-top: 20px;
    text-decoration: underline;
    text-align: left;
}

.gold-card__contact-list {
    list-style: none;
    padding: 0;
}

.gold-card__contact-list-item.bold {
    font-weight: bold;
}

.gold-card__contact-list-item {
    display: flex;
    font-size: 20px !important;
    align-items: center;
    margin-bottom: 45px;
}

.gold-card__contact-list-item img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.gold-card__address div {
    display: flex;
    flex-direction: column;
    font-weight: normal; 
    text-decoration: underline;
    text-align: left;
}

.gold-card__socials {
    display: flex;
    justify-content: left;
    margin-top: 30px;
}

.gold-card__socials a img {
    width: 62px;
    height: 62px;
    margin-right: 20px;
    transition: transform 0.3s;
}

.gold-card__socials a img:hover{
    transform: scale(1.1);
}

@media (max-width: 1397px) {
    .gold-card {
        height: 520px;
        width: 450px;
    }

    .gold-card__socials a img {
        width: 52px;
        height: 52px;
    }

    .gold-card__contact-list-item img {
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }
}
