.gold-card {
    background-color: rgba(202, 181, 155, 1);
    border-color: rgba(165, 103, 11, 1);
    border-width: 2px;
    border-style: solid; 
    color: rgba(63, 40, 7, 1);;
    padding: 20px;
    border-radius: 50px;
    height: 100%;
    width: 100%;
    font-family: "Inknut Antiqua", serif;
}

.gold-card__header {
    font-size: 30px !important;
    font-weight: bold;
    margin-bottom: 30px !important;
    margin-top: 20px;
    text-align: left;
    position: relative;
}

.gold-card__header::before {
    content: '';
    position: absolute;
    bottom: -5px;
    width: 90%;
    height: 2px;
    background-color: rgba(63, 40, 7, 1);
}

.gold-card__contact-list {
    list-style: none;
    padding: 0;
}

.gold-card__contact-list-item.bold {
    font-weight: bold;
}

.gold-card__contact-list-item {
    display: flex;
    font-size: 20px !important;
    align-items: center;
    margin-bottom: 45px;
}

.gold-card__contact-list-item img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.gold-card__address div {
    display: flex;
    flex-direction: column;
    font-weight: normal; 
    text-decoration: underline;
    text-align: left;
}

.gold-card__socials {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.gold-card__socials a img {
    width: 62px;
    height: 62px;
    margin-right: 20px;
    transition: transform 0.3s;
}

.gold-card__socials a img:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 768px) {

    .gold-card .gold-card__header {
        font-size: 20px !important;
    }

    .gold-card__header::before {
        height: 1px;
    }

    .gold-card .icon_contacts{
        font-size: 15px;
        margin-bottom: -15px;

    }
    
    .gold-card__contact-list-item {
        font-size: 15px !important;
        align-items: center;
        margin-bottom: 20px;
    }
    

    .gold-card__socials a img {
        width: 40px;
        height: 40px;
    }
    
}