.rcustom-button {
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: rgba(186, 153, 115, .53) !important;
    border-color: rgba(165, 103, 11, 1);
    transition: transform 0.5s;
}

.rcustom-button .rcustom-button-title {
    font-size: 20px !important;
    font-weight: lighter;
    color: rgba(165, 103, 11, 1);
    font-family: "Inknut Antiqua", serif !important;
    text-decoration: underline;
}


.rcustom-button:hover{
    transform: scale(1.1);
    border-color: rgba(165, 103, 11, 1);
}

.rcustom-button:focus{
    border: rgba(165, 103, 11, 1);
}