/* Ensure the slideshow takes the full width and height of the viewport */
.slideshow {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.carousel {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Images should be responsive and cover the container without overflow */
.carousel img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block !important;
}


.text-container {
    position: absolute;
    top: 60%;
    left: 15%;
    transform: translateY(-50%);
    background-color: rgba(220, 212, 201, 1);
    max-width: 30%;
    padding: 20px;
    border-radius: 30px;
    z-index: 10;
    font-family: "Inknut Antiqua", serif;
    color: rgba(63, 40, 7, 1);
    font-size: 20px;
}

.text-container h3{
    font-size: 3ch !important;
    color: rgba(165, 103, 11, 1);
    font-family: "Italianno", cursive;
}

.text-container h3::before{
    content: '';
    position: absolute;
    bottom: 75%;
    width: 60%; 
    height: 1px;
    background-color: rgba(165, 103, 11, 1);
    margin-bottom: 5px;
}

.nav-links {
    display: flex;
    justify-content:start;
    width: 100%;
}

.nav-links a {
    padding: 10px;
    text-decoration: underline;
    border-radius: 30px;
}

.nav-links a:hover{
    color: rgba(165, 103, 11, 1);
}

.carousel-indicators [data-bs-target]{
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: rgba(165, 103, 11, 1);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: transparent; 
    background-image: none;
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
    font-size: 80px; 
    color: rgba(165, 103, 11, 1); 
}

.carousel-control-prev-icon::before {
    content: '\2039'; /* Unicode for left arrow */
}

.carousel-control-next-icon::before {
    content: '\203A'; /* Unicode for right arrow */}

    .carousel-control-prev::after,
    .carousel-control-next::after {
        background-color: rgba(220, 212, 201, 1); /* Change this to your desired color */
    }

