.menu-tab-container {
    background-color: rgba(220, 212, 201, 1);
    border-radius: 30px;
}

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.center-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav.nav-pills {
    display: flex;
    justify-content: center; /* Center the nav items horizontally */
    background-color: rgba(202, 181, 155, 1);
    overflow: hidden;
    border-radius: 0 0 30px 30px;
    border-color: rgba(165, 103, 11, 1);
    border-width: 2px;
    border-style: solid;
}

.nav.nav-pills .nav-item {
    width: auto;
}

.nav.nav-pills .nav-link {
    font-size: 60px !important;
    color: rgba(165, 103, 11, 1);
    font-family: "Italianno", cursive;
    line-height: 1;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav.nav-pills .nav-link.active {
    background-color: rgba(220, 212, 201, 1);
    color: rgba(63, 40, 7, 1) !important;
    border-color: rgba(165, 103, 11, 1);
    border-width: 2px;
    border-style: solid;
}

.tab-content .tab-pane h3{
    text-decoration: underline;
    font-size: 15px;
}

