.menu{
    padding:15px 0px 100px 0px;
}

.menu-tab-container {
    background-color: rgba(220, 212, 201, 1);
    border-radius: 30px;
    
}

.menu .center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.menu .center-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .nav.nav-pills {
    display: flex;
    justify-content: center; /* Center the nav items horizontally */
    background-color: rgba(202, 181, 155, 1);
    overflow: hidden;
    border-radius: 0 0 30px 30px;
    border-color: rgba(165, 103, 11, 1);
    border-width: 2px;
    border-style: solid;
}

.menu .nav.nav-pills .nav-item {
    width: auto;
}

.menu .nav.nav-pills .nav-link {
    font-size: 40px !important;
    color: rgba(165, 103, 11, 1);
    font-family: "Italianno", cursive;
    line-height: 1;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.menu .nav.nav-pills .nav-link.active {
    background-color: rgba(220, 212, 201, 1);
    color: rgba(63, 40, 7, 1) !important;
    border-color: rgba(165, 103, 11, 1);
    border-width: 2px;
    border-style: solid;
}

.menu .tab-content .tab-pane{
    color: rgba(63, 40, 7, 1);
    font-family: "Inknut Antiqua", serif;  
}

.menu .tab-content .tab-pane .menu-content{
    padding: 0 30px 0 80px; 
}/*Go to lab & ask TA wsp*/

.menu .tab-content .tab-pane .menu-items{
    padding-left: 30px;
}

.menu .tab-content .tab-pane h1{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.menu .tab-content .tab-pane h3{
    text-decoration: underline;
    font-size: 17px;
}

.menu .tab-content .tab-pane p{
    font-size: 15px;
}


.menu .tab-content .tab-pane img{
    width: 60%;
}

@media only screen and (max-width: 768px) {

    .menu .nav.nav-pills .nav-link {
        font-size: 30px !important;
     }
    
     .menu .tab-content .tab-pane h1{
        font-size: 20px;
    }
    
    .menu .tab-content .tab-pane h3{
        font-size: 15px;
    }
    
    .menu .tab-content .tab-pane p{
        font-size: 12px;
    }
    
    .menu .tab-content .tab-pane img{
        width: 40%;
    }

    .menu .tab-content{
        margin-left: -40px;
    }

}