.custom-navbar {
    background-color: rgba(220, 212, 201, 1);
}

.navbar-brand {
    height: 100px;
    width: auto;
    padding: 0;
    margin: 0;
}

.navbar-nav .nav-link {
    color: rgba(63, 40, 7, 1) !important;
    margin-right: 10px;
    font-size: 20px !important;
}

.navbar-nav .dropdown-menu {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-top: 0;
    padding: 3px;
}

.navbar-nav .dropdown-menu .dropdown-item {
    color: rgba(63, 40, 7, 1);
    font-family: "Inknut Antiqua", serif;
    background-color: rgba(220, 212, 201, 1);
    border: rgba(165, 103, 11, 1) solid 1px;
    border-radius: 50px;
    padding: 5px 5px;
    margin: 5px 15px;
    text-align: center;
}

.navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
}

.custom-nav-link,
.navbar-nav .nav-item .dropdown-toggle {
    border-radius: 50px;
    background-color: transparent;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    font-family: "Inknut Antiqua", serif;
    font-size: 20px !important;
    font-weight: bold;
    padding: 6px;
    color: rgba(63, 40, 7, 1) !important;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: rgba(165, 103, 11, 1);
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.dropdown-image {
    width: 40px;
    height: auto;
    cursor: pointer;
}

.login-signup .signin-login-button:focus,
.navbar-nav .custom-nav-link:focus,
.navbar-nav .nav-item .dropdown-toggle:focus,
.login-signup .signin-login-button:hover,
.navbar-nav .custom-nav-link:hover,
.navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-nav .nav-item .dropdown-toggle:hover {
    background-color: rgba(202, 181, 155, 1) !important;
}

.login-signup .signin-login-button:focus,
.login-signup .signin-login-button:hover{
    text-decoration: underline;
    color: rgba(165, 103, 11, 1);
}

.navbar-nav .nav-item.no-caret .dropdown-toggle::after {
    display: none;
}

.login-signup .signin-login-button {
    border-radius: 50px;
    background-color: transparent !important;
    border-color: rgba(165, 103, 11, 1);
    border-width: 2px;
    font-family: "Inknut Antiqua", serif !important;
    font-size: 20px !important;
    color: rgba(63, 40, 7, 1);
    transition: transform 0.5s;
    transition: background-color 0.3s ease;
}

.modal-content {
    background: none;
    border: none;
    border-radius: 0;
    width: 200vw;
}

.modal-body {
    padding: 0;
}

.custom-modal .modal-dialog {
    max-width: 80vw;
    width: auto;
    margin: 0 auto;
}

.custom-modal .modal-content {
    background: transparent;
    border: none;
    border-radius: 0;
    overflow: visible;
}

.custom-modal .modal-body {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.custom-modal .sinsout {
    width: 50vw;
    min-height: 480px;
}

.custom-navbar .navbar-toggler {
    border-color: transparent; 
}

.custom-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(165, 103, 11, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.custom-navbar .navbar-toggler:focus{
    color: rgba(165, 103, 11, 1) !important;
    box-shadow: rgba(165, 103, 11, 1) !important;
}

@media only screen and (max-width: 768px) {
    .modal-content {
        width: 400vw;
    }
    
    .custom-modal .modal-dialog {
        max-width: 100%;
    }
    
    .custom-modal .sinsout {
        width: 100%;
        min-height: 480px;
    }

    .navbar-brand {
        height: 70px;
    }

    .dropdown-image {
        width: 20px;
        padding: 0 !important;
    }

    .navbar-collapse .custom-image-dropdown {
        margin-left: 0;
        justify-content: start !important;
    }

    .custom-navbar .custom-nav-link, .navbar-nav .nav-item .dropdown-toggle {
        font-size: 15px !important;
    }
}