.pay {
    margin-top: 10px;
    text-align: left;
    position: relative;    
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.pay .inner-container form h1 {
    font-size: 50px;
    position: relative;
    z-index: 1;
    color: rgba(165, 103, 11, 1);
    font-family: "Italianno", cursive;
}

.pay .inner-container form h3 {
    font-size: 25px;
    margin-top: 15px;
    color: rgba(63, 40, 7, 1);
    font-family: "Inknut Antiqua", serif;
}

.pay .subs {
    font-size: 20px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

.form-section {
    background-color: rgba(220, 212, 201, 1);
    border-radius: 50px;
    padding-right: 0;
    width: 100%; 
    display: flex;
}

.form-section .form-element {
    background-color: rgba(220, 212, 201, 1);
    margin-bottom: 20px; 
    text-align: center;
}

.inner-container form {
    margin-left: 10px;
    margin-top: 40px;
}

.inner-container {
    padding-right: 0;
    display: flex;
    align-items: flex-start; 
    gap: 20px;
}

.pay .form-control,
.pay .custom-select {
    color: rgba(63, 40, 7, 1);
    font-family: "Inknut Antiqua", serif;
    background-color: rgba(220, 212, 201, 1);
    appearance: menulist;
    border-color: transparent; 
    border-bottom-color:rgba(63, 40, 7, 1);
    border-radius: 0px;
}

.custom-toast-container {
    z-index: 1050; 
}

.custom-toast-container .toast {
    color: black;       
    border-radius: 50px;
    width: 800px;
    height: auto;
}

.custom-toast-container .toast-header {
    background-color: rgba(220, 212, 201, 1);
    color: rgba(165, 103, 11, 1);
    font-family: "Italianno", cursive;   
    font-weight: lighter; 
    font-size: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;   
    justify-content: center;
}

.custom-toast-container .toast-body {
    font-size: 30px;     
    color: rgba(63, 40, 7, 1);
    font-family: "Inknut Antiqua", serif;   
    background-color: rgba(220, 212, 201, 0.5);   
}

@media (max-width: 1397px) {
    .form-section {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .pay h1 {
        font-size: 40px;
    }
    .pay .subs {
        font-size: 18px;
    }
    .pay .custom-toast-container .toast-header {
        font-size: 40px;
    }
    .pay .custom-toast-container .toast-body {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .form-section {
        padding: 15px;
    }
    .inner-container form {
        margin-left: 0;
    }
    .pay h1 {
        font-size: 35px;
    }
    .pay .subs {
        font-size: 16px;
    }
    .pay .custom-toast-container .toast-header {
        font-size: 35px;
    }
    .pay .custom-toast-container .toast-body {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .pay h1 {
        font-size: 30px;
    }
    .pay .subs {
        font-size: 14px;
    }
    .inner-container {
        padding-right: 0;
    }
    .form-section {
        padding: 10px;
    }
    .pay .custom-toast-container .toast {
        width: 90%;
    }
    .pay .custom-toast-container .toast-header {
        font-size: 30px;
    }
    .pay .custom-toast-container .toast-body {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    .pay h1 {
        font-size: 25px;
    }
    .pay .subs {
        font-size: 12px;
    }
    .form-section {
        padding: 5px;
    }
    .inner-container form {
        margin-top: 20px;
    }
    .pay .custom-toast-container .toast-header {
        font-size: 25px;
    }
    .pay .custom-toast-container .toast-body {
        font-size: 16px;
    }
}
